<!DOCTYPE html>
<html>
<head>

    <link rel = "stylesheet" href = "css/style.css">
    <script src = "app.js"></script>
    <title>weather static file</title>
</head>
<body>
    {{>header}}
</body>
</html>